<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Retro Computers</title>
        <meta name="description" content="A list of retro computers from the 1980s">
        <meta name="author" content="Mark Tyers">
    </head>
    <body>
    <h1>Retro Computers</h1>
    <ol>
        <li><a href="/commodore">Commodore 64</a></li>
        <li><a href="/spectrum">Sinclair ZX Spectrum</a></li>
    </ol>
    <h2>3.4.1 Test Your Understanding</h2>
    <audio autoplay controls>
		<source src="guitar.ogg" type="audio/ogg">
		<source src="guitar.mp3" type="audio/mpeg">
		Your browser does not support the audio element.
    </audio>
    <h3>Embedded local video</h3>
    <video width="320" autoplay controls>
		<source src="coventry.mp4" type="video/mp4">
		<source src="coventry.ogv" type="video/ogg">
		Your browser does not support the video tag.
    </video>
    <h3>Embedded youtube video via iframe</h3>
    <iframe width="320" height="180" src="https://www.youtube.com/embed/OOy764mDtiA" allowfullscreen></iframe>
    <h3>Embedded youtube video via object</h3>
    <object width="320" height="180" data="https://www.youtube.com/embed/OOy764mDtiA"></object>
    </body>
</html>