
<!DOCTYPE html>
<html>
<head>
	<title>My Favourite Books</title>
</head>
<body>
	<header>
		<h1>My Favourite Books</h1>
        <h2>An Error Has Occurred</h2>
	</header>
	<p>{{message}}</p>
</body>
</html>
