
<!DOCTYPE html>
<html>
<head>
	<title>My Favourite Books</title>
	<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<h1>{{title}}</h1>
  <h2>ISBN: {{isbn}}</h2>
</body>
</html>
