
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bookshop</title>
		<meta name="description" content="Google Book Search">
		<meta name="author" content="Mark Tyers">
		<link href="css/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
				<h1>Bookshop</h1>
				<form action="/" method="get">
					<input type="text" name="q" value="{{query}}">
					<input type="submit" value="Search">
				</form>
		<ol>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		{{#if query}}
    			<p class="msg">searching for "{{query}}"</p>
  		{{/if}}
	    {{#each books}}
	      <li>{{this.title}}</li>
	    {{/each}}
    </ol>
	</body>
</html>
